docx2txt
python-dotenv
PyPDF2
opencv-python
numpy
werkzeug
pandas
wikipedia
torch
selenium
webdriver-manager
SQLAlchemy
pyspark
pyarrow
geocoder
pywhatkit
pyttsx3
SpeechRecognition
pillow
torchvision
pyautogui
googletrans==4.0.0-rc1
gTTS
playsound
PyQt5
pyparsing
pyaudio